<h1>Editing group invite</h1>
<div class="mb-2">
  <%= modal_wrapper("Invite") do %>
    <%= render "form", invite: @invite, group: nil, roles: @roles %>
  <% end %>
</div>

<div class="space-x-2 mt-4">
  <%= render "shared/buttons/secondary_link", text: "See all invites for #{@invite.group.name}",path: group_invites_path(@invite.group)%>
  <%= render "shared/buttons/secondary_link", text: "Go to group: #{@invite.group.name}", path: @invite.group  %>
</div>
<% content_for(:page_title, t("invite.title")) %>