<p>Unable to join group.</p>

<% if @group_membership && @group_membership.errors.any? %>
  <div style="color: red">
    <ul>
      <% @group_membership.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<% if @invite && @invite.errors.any? %>
  <div style="color: red">

    <ul>
      <% @invite.errors.each do |error| %>
        <li><%= error.message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
