<h1>New invite to <%= @group.name %></h1>

<%= render "form", invite: @invite, group: @group, roles: @roles %>

<br>

<div>
  <%= link_to "Back to group invites", group_invites_path(@invite.group) %>
</div>
