<%= render "shared/header_primary", text: safe_join(["New invite to ", content_tag(:span, @group.name, class: "font-bold text-primary-600")]) %>
<div class="my-4 space-x-2">
  <%= modal_wrapper "New Invite" do %>
    <%= render "form", invite: @invite, group: @group, roles: @roles %>
  <% end %>
</div>

<div class="mt-4 space-x-2">
  <%= render "shared/buttons/secondary_link", text: "Back to group invites", path: group_invites_path(@invite.group) %>
</div>
