<p style="color: green"><%= notice %></p>
<%= render @invite %>

<%= link_to "See all invites for #{@invite.group.name} |", group_invites_path(@invite.group)%>
<%= link_to "Go to group: #{@invite.group.name}", @invite.group  %>

