<%# locals: (group_memberships:, group:) %>

<h1>Group memberships</h1>
<%= render "shared/notification", id: "group_memberships" %>
<% frame_path = group_group_memberships_path(group_id: group.id, format: :turbo_stream) %>

<section class="bg-tertiary-50 dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden w-fit"
         data-controller="search frame-reload"
         data-search-src-value="<%= frame_path %>"
         data-frame-reload-events-value="modal-form-submit-success">
      <%= render partial:"group_memberships/table/group_membership_table_header", locals: {group: group} %>
      <%= turbo_frame_tag "group_membership_table_#{group.id}",
                          src: frame_path,
                          data: { controller:"reload_on_restore",
                                  reload_on_restore_src_value:frame_path,
                                  turbo_prefetch:"false",
                                  search_target: "frame",
                                  frame_reload_target:"frame"} do %>
        Loading...
      <% end %>
    </div>
  </div>
</section>

