<%# locals: (invites:) %>
<div class="overflow-x-auto text-center">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-tertiary-50dark:bg-gray-700 dark:text-gray-400">
      <tr class="text-center">
        <th></th>
        <th scope="col" class="px-4 py-3">Creator</th>
        <th scope="col" class="px-4 py-3">Invite Token</th>
        <th scope="col" class="px-4 py-3 hidden md:table-cell">Roles</th>
        <th scope="col" class="px-4 py-3 hidden lg:table-cell">Expires</th>
      </tr>
    </thead>
    <% viewable_invites = invites.select do |invite| %>
      <% if policy(invite).show? %>
         <% invite %>
      <% else %>
        <% next %>
      <% end %>
    <% end %>
    <% if viewable_invites.any? %>
      <tbody data-controller="element-toggle" data-element-toggle-display-style-value="table-row">
        <% viewable_invites.each do |invite| %>
          <%= render partial:"invites/table/invite_table_row", locals: {invite: invite} %>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
<%= render "shared/table_nav" do %>
  <% if viewable_invites.length < invites.length %>
    <% content_tag :div, class: "text-gray-500" do %>
      Some items may be hidden due to your permissions.
    <% end %>
  <% end %>
<% end %>