<%# locals: (group:) %>
<div class="flex flex-col items-center justify-between p-4 md:flex-row space-y-3 md:space-y-0 md:space-x-4">
  <div class="relative text-center md:text-left w-full md:w-1/2 dark:format-invert">
    <%= render "shared/header_primary" do %>
      <%= t("invite.index.title",
            group_name: content_tag(:span, group.name, class: 'font-bold text-primary-600')).html_safe %>
    <% end %>
  </div>

  <%= content_tag :div, class:"flex w-fit flex-shrink-0 flex-col items-stretch justify-end md:w-auto md:flex-row space-y-2 md:space-y-0
    md:items-center md:space-x-3 empty:hidden" do -%>
    <%= render "shared/buttons/icon_link_thick",
               path: new_group_invite_path(group),
               text: "New Invite",
               data: { turbo_frame: "modal_frame" } if policy(group.invites.build).new? -%>
  <% end %>
</div>