<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Members:</strong>
  </p>
  <ul>
    <% group.users.each do |user| %>
      <li><%= link_to user.username,
                      user_path(user: user, group_id: group.id),
                      class: "btn btn-primary",
                      data: { turbo_frame: "user_show" } %></li>
  <% end %>
  </ul>
  <%= turbo_frame_tag "user_show" %>

</div>