<%# locals: (group_roles: nil) %>
<strong class="font-bold text-primary-600">Group Roles:</strong>
<% if group_roles.present? %>
  <ul class="list-disc list-inside text-black dark:text-white">
    <% group_roles.each do |role| %>
      <li><%= render role %></li>
    <% end %>
  </ul>
<% else %>
  <p class="pl-2 text-black dark:text-white">None</p>
<% end %>