<%= turbo_stream.append "groups" do %>
  <div class="flex">
    <%= render @group, group_availability: @group.get_user_group_availability(Current.user) %>
    <%= card_link_to_group(@group) %>
  </div>
<% end %>

<%= turbo_stream.update "modal_frame", "" %>