<p style="color: green"><%= notice %></p>

<div id="groups">
 <% @groups.each do |group| %>
  <%= link_to group do %>
    <%= render group %>
  <% end %>
<% end %>
</div>

<%= link_to "New group", new_group_path, data: {turbo_frame: "modal_frame"} %>
