<%# locals: (game_session:, format: "%B %d, %I:%M %p" ) %>
<span class="hidden">Session Start Date: </span>

<time data-controller="local-time-conversion"
      data-local-time-conversion-format-value="<%= format %>"
      data-upcoming-game-session-updates-target="sessionDate"
      datetime="<%= game_session.date.iso8601 %>"
      aria-label="Session Start Date">
  <%= Time.parse(game_session.date.iso8601).strftime(format) %>
</time>