<%# locals: (upcoming_game_sessions: [], limit: 5, game_session:nil)  %>
<%= turbo_frame_tag "upcoming_game_sessions_user_#{Current.user.id}",
                    class: "empty:hidden",
                    data: {controller:"reload-on-restore", src:"/"} do %>
    <% if upcoming_game_sessions.present? %>
      <h4 class="text-2xl font-bold mb-1">Upcoming Sessions</h4>
      <div class="flex rounded-lg dark:border-gray-600 h-128">
        <ul>
          <% upcoming_game_sessions.sort_by(&:date).first(limit).each do |game_session| %>
            <li class="flex"><%= render game_session, include_link: true %>
            <%= card_link_to_game_proposal(game_session.game_proposal) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
<% end %>