<%# locals: (user: nil, upcoming_game_sessions: [], limit: 5, game_session:nil)  %>
<%= turbo_frame_tag "upcoming_game_sessions",
                    class: (upcoming_game_sessions.present?) ?
                             nil : "hidden",
                    data: {controller:"reload-on-restore"} do %>
  <section>
    <% if upcoming_game_sessions.present? %>
      <h2>Upcoming Sessions</h2>
      <div class="flex rounded-lg dark:border-gray-600 h-128">
        <ul>
          <% upcoming_game_sessions.first(limit).each do |game_session| %>
            <li><%= render game_session, user: Current.user || user || nil, include_link: true %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </section>
<% end %>