<%# locals: (game_session:, groups:nil) %>
<h1>Editing game session</h1>

<%= modal_wrapper(game_session.game_name) do %>
  <%= content_tag(:div, id:dom_id(game_session, :content)) do %>

    <%= render "form", game_session: game_session, game_proposal: nil, initial_game_proposal: game_session.game_proposal, groups: groups %>

  <% end %>
<% end %>

<br>

<div>
  <%= render "shared/buttons/secondary_link", path: game_sessions_path, text: "Back to Game Sessions" %>
</div>
