<h1>Game sessions</h1>

<div id="game_sessions" class="w-fit">
  <%= render @game_sessions, include_link: true %>
  <% unless @game_sessions.present? %>
    <p>
      No game sessions have been scheduled yet.
    </p>
  <% end %>
</div>
<%= render "shared/table_nav" %>
