<h1>New game session</h1>

<%= modal_wrapper(@game_session.game_name) do %>
  <%= render "form", game_session: @game_session, game_proposal: @game_session.game_proposal %>
<% end %>

<br>

<div>
  <%= link_to "Back to game sessions", game_sessions_path %>
</div>
