<h1>New game session</h1>

<%= render "form", game_session: @game_session, game_proposal: @game_session.game_proposal %>

<br>

<div>
  <%= link_to "Back to game sessions", game_sessions_path %>
</div>
