<%= render partial:"game_sessions/show_content", locals: {game_session: @game_session, game_session_attendance: @game_session_attendance} %>
<%= render "shared/buttons/secondary_link", path: game_proposal_path(@game_session.game_proposal), text: "Back to Game Proposal", extra_classes: "mt-2" %>


<div data-controller="calendar" data-calendar-interactive-value="false" data-calendar-game-session-id="<%= @game_session.id %>" data-turbo-permanent>
  <%= render partial: 'calendars/calendar' %>
</div>
