<%= render partial:"game_sessions/show_content", locals: {game_session: @game_session, game_session_attendance: @game_session_attendance} %>
<%= render "shared/buttons/secondary_link", path: game_sessions_path, text: "Back to Game Sessions", extra_classes: "mt-2" %>


<div data-controller="calendar" data-calendar-interactive="false" data-calendar-game-session-id="<%= @game_session.id %>" data-turbo-permanent>
  <%= render partial: 'calendars/calendar' %>
</div>
