<h1>Editing schedule</h1>

<%= modal_wrapper(@schedule.name) do %>
  <%= render "form", schedule: @schedule %>
<% end %>
<br>

<div class="flex space-x-3">
  <%= render "shared/buttons/secondary_link", path: @schedule, text: "Show this schedule" %>
  <%= render "shared/buttons/secondary_link", path: schedules_path, text: "Back to schedules" %>
</div>
