<h1>Editing schedule</h1>

<%= modal_wrapper(@schedule.name) do %>
  <%= render "form", schedule: @schedule %>
<% end %>
<br>

<div>
  <%= link_to "Show this schedule", @schedule %> |
  <%= link_to "Back to schedules", schedules_path %>
</div>
