<%# locals: (schedules:, pagy:) %>
<p style="color: green"><%= notice %></p>
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl ">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden" data-controller="search" data-search-src-value="<%= schedules_path(format: :turbo_stream) %>">
      <%= render "schedules/schedule_table_header" %>
      <%= turbo_frame_tag "schedule_list", src: schedules_path(format: :turbo_stream), data: {turbo_prefetch:"false", search_target: "frame"} do %>
        Loading...
      <% end %>
    </div>
  </div>
</section>

