<dialog id="modal_loading" aria-labelledby="loading_modal_title" tabindex="-1" class="fixed inset-0 h-fit max-h-fit items-center justify-center overflow-visible rounded-lg bg-white p-1 shadow dialog md:inset-0 dark:bg-gray-700" data-loading-dialog-target="dialog">
  <!-- Modal header -->
  <div class="flex items-center justify-between rounded-t border-b p-2 dark:border-gray-600">
    <h2 id="loading_modal_title" class="text-lg font-semibold text-gray-900 dark:text-white">
       Loading...
    </h2>
    <button data-action="dialog#close" class="inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 ms-auto dark:hover:bg-gray-600 dark:hover:text-white">
      <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>

  <!-- Modal body -->
  <%= render "shared/spinner" %>
</dialog>
