<%# locals: (modal_title: "Edit", modal_body: "") %>
<%= turbo_frame_tag "modal_frame" do %>
  <dialog id="modal_generic" tabindex="-1"
          aria-labelledby="modal_title"
          aria-modal="true"
          class="fixed inset-0 h-fit items-center justify-center overflow-visible rounded-lg
            bg-white p-1 shadow dialog md:inset-0 dark:bg-gray-700 max-h-screen"
          data-controller="dialog"
          data-dialog-title-value="Edit"
          data-dialog-target="dialog"
          data-dialog-open-value=true>
    <!-- Modal header -->
    <div class="flex items-center justify-between rounded-t border-b p-2 dark:border-gray-600">
      <h2 id="modal_title" data-dialog-target="modalTitle" class="text-lg font-semibold text-gray-900 dark:text-white">
        <%= modal_title %>
      </h2>
      <button data-action="dialog#close"
              class="inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-black
                dark:text-white hover:bg-gray-200 dark:hover:bg-gray-600 ms-auto">
        <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>

    <!-- Modal body -->
    <div id="modal_body"
         data-dialog-target="modalBody"
         class="p-4 text-gray-700 dark:text-gray-300 max-h-full persistent-scrollbar">
      <%= modal_body %>
    </div>
    <%= render "shared/spinner", start_hidden: true %>
    <span data-dialog-target="status" class="sr-only" role="status"></span>

  </dialog>
<% end %>