<div id="<%= dom_id user_availability %>">
  <p>
    <strong>Schedule:</strong>
    <%= user_availability.schedule_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_availability.user_id %>
  </p>

</div>
