<div id="<%= dom_id user_availability %>">
  <p>
    <strong>Schedules:</strong>
    <%= user_availability.schedule_ids %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_availability.user_id %>
  </p>



  <div id="calendar" data-controller="calendar" data-calendar-target="calendar">
  </div>


</div>
