<div data-controller="availability-selection" data-availability-selection-calendar-outlet="#calendar_holder" >

  <%= render "form", user_availability: @user_availability, availabilities: @availabilities %>

  <div class="mt-2">
    <%= render "shared/buttons/secondary_link", path: settings_path, text: "Back to Settings" %>
  </div>

  <div id="calendar_holder" data-controller="calendar" data-calendar-interactive="true" data-calendar-availability-id="<%= @user_availability&.id || @availabilities.first %>" data-turbo-permanent>
    <%= render partial: 'calendars/calendar' %>
  </div>
</div>
