<p style="color: green"><%= notice %></p>

<%= render @user_availability %>

<div>
  <%= link_to "Edit this users availability", edit_user_availability_path(@user_availability) %> |

  <%= button_to "Destroy this users availability", @user_availability, method: :delete %>
</div>
