<%= render @user_availability %>

<div>
  <%= link_to "Edit this users availability", edit_user_availability_path(@user_availability) %> |

  <%= button_to "Destroy this users availability", @user_availability, method: :delete %>
</div>

<div data-controller="calendar" data-calendar-interactive="true" data-calendar-availability-id=<%= @user_availability.availability_id %>>
  <div id="calendar_toggles" data-calendar-target="toggles">
    <!-- Toggle buttons will be dynamically added here -->
  </div>
  <div id="calendar" data-calendar-target="calendar">
  </div>
</div>