<p style="color: green">
  <%= notice %>
</p>

<p>Upcoming sessions</p>
<div data-controller="calendar" data-calendar-user-id=<%= Current.user.id %>>
  <%= render partial: 'calendars/calendar' %>
</div>

<p>Pending Proposals</p>
<% @proposals.each do |proposal| %>
  <%= render proposal %>
<% end %>
