<%# locals: (games:) %>
<div data-controller="search" data-search-src-value="<%= games_path(format: :turbo_stream) %>">
  <%= render "games/game_list_header" %>
  <%= turbo_frame_tag "game_list", src:games_path(format: :turbo_stream), data: {search_target:"frame"}, class:"mx-3" do %>
    <div class="items-center justify-center h-[calc(100vh-5rem)] w-full border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
      <div class="px-3 py-1 text-xs font-medium leading-none h-full text-center text-primary-50 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">Loading Games...</div>
    </div>
  <% end %>
</div>