<div id="<%= dom_id availability_schedule %>">
  <p>
    <strong>Availability:</strong>
    <%= availability_schedule.availability_id %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= availability_schedule.schedule_id %>
  </p>

</div>
