<%# locals: (schedules:, availability:) %>
<p style="color: green"><%= notice %></p>

<section class="bg-tertiary-50dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl ">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden"
         data-controller="search"
         data-search-src-value="<%= availability_schedules_path(availability_id: availability.id, format: :turbo_stream) %>">
      <%= render "availability_schedules/table/schedule_table_header", availability: availability  %>
      <%= turbo_frame_tag "availability_schedule_list",
                          src: availability_schedules_path(availability_id: availability.id, format: :turbo_stream),
                          data: {search_target:"frame"} do %>
        Loading...
      <% end %>
    </div>
  </div>
</section>