<%# locals: (availability:, schedules:, pagy:) %>
<h1>New availability schedule</h1>

<%= render "form", availability: availability, schedules: schedules, pagy: pagy %>

<br>

<div>
  <%= link_to "Back to availability schedules", availability_schedules_path %>
</div>
