<h1>New availability schedule</h1>

<%= render "form", availability_schedule: @availability_schedule %>

<br>

<div>
  <%= link_to "Back to availability schedules", availability_schedules_path %>
</div>
