<%# locals: (availability:, schedules:, pagy:) %>
<h1>New availability schedule</h1>

<%= render "form", availability: availability, schedules: schedules, pagy: pagy %>

<br>

<div>
  <%= render "shared/buttons/secondary_link", path: availability_schedules_path, text: "Back to Availability Schedules" %>
</div>
