<div id="<%= dom_id proposal_availability %>">
  <p>
    <strong>Schedule:</strong>
    <%= proposal_availability.schedule_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= proposal_availability.user_id %>
  </p>

  <p>
    <strong>Proposal:</strong>
    <%= proposal_availability.proposal_id %>
  </p>

</div>
