<h1>Editing proposal availability</h1>

<%= render "form", proposal_availability: @proposal_availability %>

<br>

<div>
  <%= link_to "Show this proposal availability", @proposal_availability %> |
  <%= link_to "Back to proposal availabilities", proposal_availabilities_path %>
</div>
