<h1>Editing proposal availability</h1>

<%= render "form", proposal_availability: @proposal_availability %>

<br>

<div>
  <%= link_to "Show this proposal availability", @proposal_availability %> |
  <%= button_to "Unset Proposal Availability", @proposal_availability, method: :delete %> |
  <%= link_to "Back to proposal", game_proposal_path(@proposal_availability.game_proposal) %>
</div>
