<div data-controller="availability-selection" data-availability-selection-calendar-outlet="#calendar_holder" >

  <%= render "form", game_proposal: @game_proposal, proposal_availability: @proposal_availability, availabilities: @availabilities %>

  <div class="mt-4">
    <%= render "shared/buttons/cancel_button", text: "Cancel", path: @game_proposal, extra_classes: "mt-2 me-2 mb-2" %>
  </div>

  <div id="calendar_holder" data-controller="calendar" data-calendar-interactive="true" data-calendar-availability-id="<%= @availabilities.first.id %>" data-turbo-permanent>
    <%= render partial: 'calendars/calendar' %>
  </div>
</div>

