<h1>New proposal availability</h1>

<%= render "form", game_proposal: @game_proposal, proposal_availability: @proposal_availability %>

<br>

<div>
  <%= link_to "Back to game proposal", @game_proposal %>
</div>
