<%# locals: (game_session:, limit: 8) %>
<div class="game_session_<%= game_session.id %>_attendances flex" role="presentation">
  <% game_session_attendances = game_session.game_session_attendances.sorted_scope %>
  <% overflow = game_session_attendances.length - limit %>
  <% game_session_attendances.first(limit).each do |attendance| %>
    <%= render attendance %>
  <% end %>
  <%= content_tag :p, class: "text-black dark:text-white ml-2" do %>
    +<%= overflow %> more
  <% end if overflow > 0 %>
</div>