<div id="<%= dom_id game_session_attendance %>">
  <p>
    <strong>Game session:</strong>
    <%= game_session_attendance.game_session_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= game_session_attendance.user_id %>
  </p>

  <p>
    <strong>Attending:</strong>
    <%= game_session_attendance.attending %>
  </p>

</div>
