<h1>Editing game session attendance</h1>

<%= render "form", game_session_attendance: @game_session_attendance %>

<br>

<div>
  <%= link_to "Show this game session attendance", @game_session_attendance %> |
  <%= link_to "Back to game session attendances", game_session_attendances_path %>
</div>
