<h1>New game session attendance</h1>

<%= render "form", game_session_attendance: @game_session_attendance %>

<br>

<div>
  <%= link_to "Back to game session attendances", game_session_attendances_path %>
</div>
