<p style="color: green"><%= notice %></p>

<%= render @game_session_attendance %>

<div>
  <%= link_to "Edit this game session attendance", edit_game_session_attendance_path(@game_session_attendance) %> |

  <%= button_to "Destroy this game session attendance", @game_session_attendance, method: :delete %>
</div>
