<%# locals: (game_session_attendances:) %>
<div class="relative max-h-full w-full">
  <div class="overflow-y-auto persistent-scrollbar max-h-[49vh] min-h-24 h-fit">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
      <thead class="text-xs uppercase text-gray-700 bg-tertiary-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="sticky top-0 left-0 z-20 px-6 py-3 bg-tertiary-50 dark:bg-gray-600">
            User
          </th>
          <th scope="col" class="sticky top-0 z-10 px-6 py-3 bg-tertiary-50 dark:bg-gray-600 text-center">
            Attending
          </th>
        </tr>
      </thead>
      <tbody class="divide-y-2">
        <% game_session_attendances.each do |game_session_attendance| %>
          <%= render partial:"game_session_attendances/table/game_session_attendance_table_row",
                     locals: {game_session_attendance: game_session_attendance} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render partial: "shared/table_nav" %>