<%# locals: (game_proposal:, proposal_availability: nil, proposal_permission_set: nil) %>
<div class="flex align-top space-x-1">
  <%= render "game_proposals/new_dropdown", game_proposal: game_proposal, can_create_session: policy(game_proposal).create_game_session? %>

  <% if proposal_permission_set.present? && policy(proposal_permission_set).edit? %>
    <%= render "permission_sets/edit_button", permission_set: proposal_permission_set %>
  <% end %>

  <%= render "game_proposals/misc_dropdown", game_proposal: game_proposal, proposal_availability: proposal_availability %>
</div>