<%# locals: (pending_game_proposals: nil, limit: GameSession::PAGE_LIMIT_SHORT)  %>
<% if pending_game_proposals.present? %>
  <section>
    <%= render "shared/header_primary", id: "pending_game_proposals" do %>
      <%= t("game_proposal.pending.title") %>
    <% end %>
    <ul aria-labelledby="pending_game_proposals">
      <% pending_game_proposals.sort_by(&:created_at).first(limit).each do |game_proposal| %>
        <li class="flex">
          <%= render game_proposal,
                     reload_on_restore: false,
                     proposal_availability: game_proposal.get_user_proposal_availability(Current.user),
                     proposal_permission_set: game_proposal.make_permission_set(game_proposal.group.users.to_a) %>
          <%= render "game_proposals/card_link", game_proposal: game_proposal %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>