<%# locals: (game_proposal_roles:nil) %>
<strong class="font-bold text-primary-600">Game Proposal Roles:</strong>
<% if game_proposal_roles.present? %>
  <ul class="list-disc list-inside">
    <% game_proposal_roles.each do |role| %>
      <li><%= render role %></li>
    <% end %>
  </ul>
<% else %>
  <p class="pl-2">None</p>
<% end %>