<h1>Editing game proposal</h1>

<%= modal_wrapper(@game_proposal.game_name) do %>
  <%= render "form", game_proposal: @game_proposal, group: nil %>
<% end %>

<br>

<div>
  <%= link_to "Show this game proposal", @game_proposal %> |
  <%= link_to "Back to game proposals", game_proposals_path %>
</div>
