<h1>Editing game proposal</h1>

<%= render "form", game_proposal: @game_proposal, group: nil %>

<br>

<div>
  <%= link_to "Show this game proposal", @game_proposal %> |
  <%= link_to "Back to game proposals", game_proposals_path %>
</div>
