<% if @groups.present? %>
  <%= render "form", game_proposal: @game_proposal, groups: @groups, group: @groups.first %>
<% else %>
  You do not have permission to create a game proposal for any of your groups.
<% end %>
<br>

<div>
  <%= link_to "Back to game proposals", game_proposals_path %>
</div>
