<% if @groups.present? %>
  <%= render "form", game_proposal: @game_proposal, groups: @groups, group: @groups.first %>
<% else %>
  You do not have permission to create a game proposal for any of your groups.
<% end %>
<br>

<div>
  <% if !@groups.present? || @groups.length > 1 %>
    <%= render "shared/buttons/secondary_link", path: game_proposals_path, text: "Back to Game Proposals" %>
  <% elsif @groups.present? %>
    <%= render "shared/buttons/secondary_link", path: group_game_proposals_path(@groups.first), text: "Back to #{@groups.first.name}" %>
<% end %>
</div>
<% content_for(:page_title, t("game_proposal.title")) %>