<%# locals: (game_proposal:, proposal_availability: nil, proposal_permission_set:nil, alert:nil) %>
<%= alert if alert.present? %>
<%= render game_proposal,
           game_proposal: game_proposal,
           proposal_permission_set: proposal_permission_set,
           proposal_availability: proposal_availability %>

<div data-controller="calendar" data-calendar-interactive="true" data-calendar-dialog-outlet=".dialog" data-calendar-flatpickr-outlet=".flatpickr" data-calendar-game-proposal-id=<%= game_proposal.id %> data-turbo-permanent>
  <%= render partial: 'calendars/calendar', locals: {group: game_proposal.group, game_proposal: game_proposal || nil} %>
</div>