@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'flatpickr/dist/flatpickr.min.css';
@import 'flatpickr/dist/themes/dark.css';
@import 'recurring_select_custom.css';
@import 'calendar.css';
@import 'pagy_custom.css';

/* Dark mode defaults */
@media (prefers-color-scheme: dark) {
     input:not([type="button"]):not([type="submit"]):not([type="reset"]),
     textarea,
     select {
        @apply bg-gray-700;
    }
}

input:indeterminate + .toggle-slider {
    background-color: #9ca3af; /* A grayish color for indeterminate state */
}

input:indeterminate + .toggle-slider::before {
    transform: translateX(10px); /* Move to the middle for indeterminate state */
}


.select-game-btn {
    @apply hover:bg-secondary-300 dark:hover:bg-secondary-400 hover:border-secondary-500 dark:hover:border-secondary-300;

    &.selected {
        @apply border-b-4 border-x-2 border-secondary-400 bg-secondary-200 dark:border-secondary-400 dark:bg-secondary-500;
    }
}

[busy] {
   @apply opacity-20;
}

turbo-frame:not([busy]) {
    @apply opacity-100;
}

button.selected {
    @apply z-[1];
}

/* For WebKit browsers (Chrome, Safari) */
.persistent-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

.persistent-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
}

/* For Firefox */
.persistent-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .3) transparent;
}