@import 'flatpickr/dist/flatpickr.min.css';
@import 'flatpickr/dist/themes/dark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode defaults */
@media (prefers-color-scheme: dark) {
     input:not([type="button"]):not([type="submit"]):not([type="reset"]),
     textarea,
     select {
        @apply bg-gray-700;
    }
}

.rs_frequency, .rs_interval, .rs_count, .rs_datepicker {
    padding: 0;
}

.rs_dialog {
    overflow:visible !important;
}

.rs_datepicker {
    width: 210px !important;
    padding-left: .5em;
    padding-right: .5em;
}

.rs_termination_section {
    table {
        td {
            padding-top: 5px !important;
        }
    }
}

input:indeterminate + .toggle-slider {
    background-color: #9ca3af; /* A grayish color for indeterminate state */
}

input:indeterminate + .toggle-slider::before {
    transform: translateX(10px); /* Move to the middle for indeterminate state */
}

.pagy {
    @apply inline-flex items-stretch -space-x-px;

    > *:first-child {
        @apply rounded-l-lg border-e-0 rounded-s-lg;
    }

    > *:last-child {
        @apply rounded-r-lg border-s-0 rounded-e-lg;
    }
}

.pagy a:not(.gap) {
    @apply flex items-center text-sm justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400;

    &:hover {
        @apply bg-gray-100 text-gray-700 dark:bg-gray-700 dark:text-white;
    }

    &:not([href]) {
        @apply text-gray-300 bg-gray-500 dark:bg-gray-900 dark:text-gray-500 cursor-default;
    }

    &.current {
        @apply flex items-center justify-center z-10 px-4 h-10 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white cursor-default;
    }
}

span.pagy.info {
    @apply text-sm font-normal text-gray-500;
}