@import 'flatpickr/dist/flatpickr.min.css';
@import 'flatpickr/dist/themes/dark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.rs_frequency, .rs_interval, .rs_count, .rs_datepicker {
    padding: 0;
}

.rs_datepicker {
    width: 210px !important;
    padding-left: .5em;
    padding-right: .5em;
}

.rs_termination_section {
    table {
        td {
            padding-top: 5px !important;
        }
    }
}

input:indeterminate + .toggle-slider {
    background-color: #9ca3af; /* A grayish color for indeterminate state */
}

input:indeterminate + .toggle-slider::before {
    transform: translateX(10px); /* Move to the middle for indeterminate state */
}
