@media (prefers-color-scheme: light) {
     .fc-daygrid-body {
          background-color: white;
     }
}

@media (prefers-color-scheme: dark) {
     .fc-daygrid-day-number {
          color: white;
     }
}

.fc-button {
     @apply bg-white dark:bg-gray-700 text-black dark:text-white !important;
}

.fc-icon {
     @apply text-black dark:text-white !important;
}

.fc-col-header-cell, .fc-list-day-text, .fc-list-day-side-text {
     color: black;
}

.fc-content {
     cursor: pointer;
}

.fc-event-main-frame {
     display:block !important;
}

.fc-day {
     @apply hover:bg-gray-200 dark:hover:bg-gray-700 !important;
}

.fc-list-event:hover td {
     @apply bg-gray-200 dark:bg-gray-700 !important;
}

[data-calendar-interactive-value="false"] .fc-day {
     @apply hover:bg-transparent dark:hover:bg-transparent;
}