.rs_frequency, .rs_interval, .rs_count, .rs_datepicker {
    padding: 0;
}

.rs_dialog {
    overflow:visible !important;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.rs_datepicker {
    width: 210px !important;
    padding-left: .5em;
    padding-right: .5em;
}

.rs_termination_section {
    table {
        td {
            padding-top: 5px !important;
        }
    }
}
