<%# locals: (availability: nil, schedules:[], included_schedules:[]) %>
<div class="overflow-x-auto text-center">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-tertiary-50 dark:bg-gray-700 dark:text-gray-400">
      <tr class="text-center">
        <th scope="col" class="px-2 py-3">Include</th>
        <th scope="col" class="px-4 py-3">Schedule</th>
        <th scope="col" class="px-4 py-3 hidden lg:table-cell">Description</th>
        <th scope="col" class="px-4 py-3 hidden xl:table-cell">Frequency</th>
        <th scope="col" class="px-4 py-3 hidden 2xl:table-cell">Start Date</th>
        <th scope="col" class="px-4 py-3 hidden 2xl:table-cell">End Date</th>
        <th scope="col" class="px-4 py-3 hidden xxl:table-cell">Duration</th>
      </tr>
    </thead>
    <tbody data-controller="element-toggle" >
      <% included_schedules.each do |schedule| %>
        <%= render partial: "schedules/table/schedule_table_form_row", locals: { schedule: schedule, checked: true} %>
      <% end if availability.present? %>

      <% schedules.each do |schedule| %>
        <%= render partial: "schedules/table/schedule_table_form_row", locals: { schedule: schedule, checked: false} %>
      <% end %>
    </tbody>
    <tbody data-controller="element-toggle" >

    </tbody>
  </table>
</div>
<%= render partial: "shared/table_nav" %>

