<%# locals: (permission_set:, roles:, title:"Edit Permissions", notice: nil) %>
<%= modal_wrapper(title) do %>
  <%= render "shared/notification", id: "#{permission_set.resource.model_name.param_key}_#{permission_set.resource.id}_permission_set" %>

  <%= render "form",
             permission_set: permission_set,
             url: polymorphic_path([permission_set.resource,:permission_set]),
             roles: roles%>
<% end %>

<br>
<div>
  <%= link_to "Cancel", permission_set.resource %>
</div>
