<%# locals: (permission_set:, roles:, title:"Edit Permissions", notice: nil) %>
<%= modal_wrapper(title) do %>
  <%= content_tag :p, notice, id: "#{permission_set.resource.class.name.underscore}_#{permission_set.resource.id}_permission_set_edit_notice" %>
  <%= render "form", permission_set: permission_set, url: polymorphic_path([permission_set.resource,:permission_set]), roles: roles %>
<% end %>

<br>
<div>
  <%= link_to "Cancel", permission_set.resource %>
</div>
