<%# locals: (schedules: nil) %>
<% if schedules.present? %>
  <ul class="list-disc list-inside">
    <% schedules.each do |name| %>
      <%= content_tag :li, name, class: "text-left" %>
    <% end %>
  </ul>
<% else %>
  <span class="text-gray-500">No schedules assigned</span>
<% end %>