<div id="<%= dom_id availability %>">
  <p>
    <strong>Name:</strong>
    <%= availability.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= availability.username %>
  </p>

  <% if policy(availability).edit? %>
    <p>
      <strong>Schedules:</strong>
      <% if availability.schedules.empty? %>
        None
      <% else %>
        <%= availability.schedules.map(&:name).join(", ") %>
      <% end %>
    </p>
  <% end %>

</div>
