<div id="<%= dom_id availability %>">
  <p>
    <strong>Name:</strong>
    <%= availability.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= availability.username %>
  </p>

  <% if policy(availability).edit? %>
    <div>
      <strong>Schedules:</strong>
      <% if availability.schedules.empty? %>
        None
      <% else %>
        <ul>
          <% availability.schedules.map(&:name).each do |availability_name| %>
            <li> - <%= availability_name %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>
