<%# locals: (availability:) %>
<div>
  Associated schedules will <span class="underline decoration-4 decoration-secondary-300">not</span> be deleted.
</div>
<div data-controller="confirmation" class="space-y-3">
  <div>
    <label>
      <input data-confirmation-target="input" data-action="confirmation#check" type="checkbox"/>
      I confirm that I want to permanently delete this availability
    </label>
  </div>

  <div class="flex justify-between">
    <%= button_to "Delete", availability, method: :delete, title: "Delete Availability",
                  data: { confirmation_target: "item" },
                  form: { data: { refresh_calendar_on_submit:"" } },
                  disabled: "true",
                  class: "disabled:cursor-not-allowed disabled:bg-red-300 rounded-full bg-red-600 px-3
                                  py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline
                                  focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 " %>

    <button type="button" data-action="dialog#close" autofocus>Cancel</button>
  </div>
</div>