<%= turbo_stream.replace("content_schedule_#{@schedule.id}",
                         html: raw("<p>Availability Deleted</p>")) %>

<%= turbo_stream.replace("show_schedule_#{@schedule.id}",
                         html: raw("<p>Availability Deleted</p><p>#{link_to 'Back to availabilities', availabilities_path}</p>")) %>

<%= turbo_stream.update("modal_frame") %>