<h1>Editing availability</h1>

<%= modal_wrapper(@availability.name) do %>
  <%= render "form", availability: @availability, schedules: @schedules %>
<% end %>

<br>

<div>
  <%= link_to "Show this availability", @availability %> |
  <%= link_to "Back to availabilities", availabilities_path %>
</div>
