<%# locals: (availability:, schedules:) %>
<h1>New Availability</h1>

<%= modal_wrapper(availability.name) do %>
  <%= render "form", availability: availability, schedules: schedules %>
<% end %>

<div class="mt-3">
  <%= render "shared/buttons/secondary_link", text: "Back to availabilities", path: availabilities_path %>
</div>
