<%# locals: (availability:, schedules:, pagy:) %>
<h1>New availability</h1>

<%= modal_wrapper(@availability.name) do %>
  <%= render "form", availability: availability, schedules: schedules, pagy: pagy %>
<% end %>

<br>

<div>
  <%= link_to "Back to availabilities", availabilities_path %>
</div>
