<h1>New availability</h1>

<%= modal_wrapper(@availability.name) do %>
  <%= render "form", availability: @availability %>
<% end %>

<br>

<div>
  <%= link_to "Back to availabilities", availabilities_path %>
</div>
