<%# locals: (availability:, schedules:) %>
<h1>New Availability</h1>

<%= modal_wrapper(availability.name) do %>
  <%= render "form", availability: availability, schedules: schedules %>
<% end %>

<br>

<div>
  <%= link_to "Back to availabilities", availabilities_path %>
</div>
