<div id="<%= dom_id group_availability %>">

  <p>
    <strong>Schedules:</strong>
    <%= group_availability.schedule_ids %>
  </p>

  <p>
    <strong>User:</strong>
    <%= group_availability.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= group_availability.group_id %>
  </p>

</div>
