<div id="<%= dom_id group_availability %>">
  <p>
    <strong>User:</strong>
    <%= group_availability.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= group_availability.group_id %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= group_availability.schedule_id %>
  </p>

</div>
