<div id="<%= dom_id group_availability %>">

  <p>
    <strong>Schedules:</strong>
    <%= availability.schedules.map(&:name).join(",") %>
  </p>

  <p>
    <strong>User:</strong>
    <%= group_availability.user.username %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= group_availability.group.name %>
  </p>

</div>
