<h1>Editing group availability</h1>

<%= render "form", group_availability: @group_availability %>

<br>

<div>
  <%= link_to "Show this group availability", @group_availability %> |
  <%= button_to "Unset Group Availability", @group_availability, method: :delete %> |
  <%= link_to "Back to group", group_path(@group_availability.group) %>

</div>
