<p style="color: green"><%= notice %></p>

<h1>Group availabilities</h1>

<div id="group_availabilities">
  <% @group_availabilities.each do |group_availability| %>
    <%= render group_availability %>
    <p>
      <%= link_to "Show this group availability", group_availability %>
    </p>
  <% end %>
</div>