<div data-controller="availability-selection" data-availability-selection-calendar-outlet="#calendar_holder" >

  <%= render "form", group: @group, group_availability: @group_availability, availabilities: @availabilities %>

  <div>
    <%= link_to "Cancel", @group %>
  </div>

  <div id="calendar_holder" data-controller="calendar" data-calendar-availability-id="<%= @availabilities.first.id %>" data-turbo-permanent>
    <%= render partial: 'calendars/calendar' %>
  </div>
</div>
